<% provide(:title, "Invite your friends to play") %>
<h1>Invite your friends to play</h1>
<p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
     Share on social media and get a second game card!
     <%= social_share_button_tag("Whoop!") %>
  </div>
 </div>
 
 
</p>