= content_for(:title, "Invite your friends to play")
%h1 Invite your friends to play

.row
  .col-md-8.col-md-offset-2
    .center
      %h3 Share on social media and get a second game card!    
      = social_share_button_tag("Whoop!")