<% provide(:title, "Invite your friends to play") %>
<h1>Invite your friends to play</h1>
<p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
     <h3>Share on social media and get a second game card!</h3>
     <%= social_share_button_tag("Whoop!") %>
  </div>
 </div>
 <!--https://github.com/huacnlee/social-share-button-->
 
</p>