<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p>
        <br/>
        All active <%= link_to 'bingo cards', '#' %> associated with this user, neatly displayed.
      </p>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;">Play1</button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;">Play2</button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;">Play3</button>
    </div>
  
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;">Play4</button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;">Play5</button>
      <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
      color: #800000;">Play6</button>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
    color: #800000;">Play7</button>
    <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
    color: #800000;">Play8</button>
    <button type="button" class="btn btn-default" data-toggle="button" aria-pressed="false" autocomplete="off" style="border: 1px solid #800000;
    color: #800000;">Play9</button>
  </div>
     
   
  </section>
  </aside>
</div>