<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p>
        <br/>
        All active <%= link_to 'bingo cards', '#' %> associated with this user, neatly displayed.
      </p>
    </section>
  </aside>
</div>