
.DS_Store
football_bingo/db/development.sqlite3
*.log
football_bingo/db/development.sqlite3
football_bingo/db/development.sqlite3
football_bingo/log/development.log
football_bingo/db/development.sqlite3
