
.DS_Store

# Ignore bundler config.
football_bingo/.bundle

# Ignore the default SQLite database.
football_bingo/db/*.sqlite3
football_bingo/db/*.sqlite3-journal
football_bingo/db/schema.rb

# Ignore all logfiles and tempfiles.
football_bingo/log/*
!/log/.keep
football_bingo/tmp
*/log