<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <h4><strong>Howdy!</strong></h4><br>
      Play Aggies WHOOP! game is an easy way for you to have more fun watching the game. Just sign up, get a game card, watch & win!<br>
  </div>
 </div>
 
 <div class="row">
  <div class="col-md-8 col-md-offset-2">
      <h4><strong>How to play:</strong></h4><br>
      <li><strong>Register</strong> - sign up to play the game</li>
      <li><strong>Get game card</strong> - each registered player gets a card containing a random set of football plays</li>
      <li><strong>Watch & win</strong> - if you match 5 contiguous plays, you win!</li>
      <li><strong>Instant win plays</strong> are also hidden in the game</li>
      <li><strong>Redeem prize</strong> - All prizes will be fullfilled via email</li>
  </div>
 </div>
</p>