#game-stats-title td{
	background-color: #c0c0c0;
}

#game-stats thead{
	color: white;
	text-align: left;
	background-color: #800000;
}

#game-stats tbody{
	font-color: black;
	background-color: white;
	text-align: center;
}

#score-board thead{
	color: white;
	background-color: #800000;
}

#score-board tbody{
	font-color: black;
	background-color: white;
}

#score-board td{
	vertical-align: bottom;
}

#all-games thead{
	color: white;
	background-color: #800000;
}

#all-games tbody{
	font-color: black;
	background-color: white;
}

#all-games td{
	vertical-align: middle;
}

#game-history thead{
	color: white;
	background-color: #800000;
}

#game-history tbody{
	font-color: black;
	background-color: white;
}

#game-history td{
	vertical-align: middle;
}


td {
	font-color: black;
	font-size: 13px;
	vertical-align: middle;
}


