// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* chip and styles*/

#card_container{
    width:90%;
    height:50%;
    margin-left:5%;
}


#cardstyle{
    // background-color: #fff5e6;
    border: 1px solid #500000;
    color: #500000; 
    width:33%;
    height:110px;
    white-space: normal;
    word-wrap: break-word;
}

#cardstyle:hover {
     background-color: #ccddff;
}

/* bingo card */
.bingotrue {
    background-color: #BA8888 !important;
  }
.bingofalse {
    background-color: none !important;
}
  
  .noHover{
    pointer-events: none;
}