<% provide(:title, "List all the bingo cards in one game") %>
<h1>Show all the cards associated with this game</h1>
<p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
     <h3> to do!!! </h3>
  </div>
 </div> 
</p>