= content_for(:title, "Help")
%h1 Help
%p
  .row
    .col-md-8.col-md-offset-2
      %h4 
        %strong Howdy!
      Play Aggies WHOOP! game is an easy way for you to have more fun watching the game. Just sign up, get a game card, watch & win!
      %br/
  .row
    .col-md-8.col-md-offset-2
      %h4 
        %strong How to play:
      %li
        %strong Register - 
        sign up to play the game
      %li
        %strong Get game card - 
        each registered player gets a card containing a random set of football plays
      %li
        %strong Watch & win - 
        if you match 5 contiguous plays, you win!
      %li
        %strong Instant win plays 
        are also hidden in the game
      %li
        %strong Redeem prize - 
        All prizes will be fullfilled via email